prometheus-client

ops >= 1.4.0

MarkupSafe

ansible>=10.2.0,<11.0.0; python_version >= '3.8'
# TODO -- ansible 8.0.0+ getting error
# couldn't resolve module/action 'ansible.builtin.apt'. This often indicates a misspelling, missing collection, or incorrect module path
ansible>=7.0.0,<8.0.0; python_version < '3.8'

Jinja2>=3.0.0
pyyaml

netaddr<=0.7.19
charms.reactive==1.5.3
git+https://github.com/juju/charm-helpers.git@81697653d4e4125ebe7b0495041cc70e989765af
